:root {
  --border-color-default: #d0d7de;
  --color-fg-muted: #57606a;
  --color-primer-border-contrast: #1b1f241a;
  --color-accent-fg: #0969da;
  --color-accent-subtle: #ddf4ff;
  --color-accent-emphasis: #0969da;
}

$white: #ffffff;
$blue: #0969da;
$black: #1b1f24;
$name-color: #768390;
$border-color: #d0d7de;

$name-color: #768390;
$button-color: #24292f;
